<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <style>
    .tooltip .tooltiptext {
      visibility: hidden;
      background-color: #363636;
      color: white;
      font-size: 12px;
      text-align: left;
      text-transform: none;
      border-radius: 3px;
      padding: 5px 5px;
      position: absolute;
      left: 0px;
      width: 100%;
      z-index: 10;
    }
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 0.9;
    }
  </style>
</head>
<body>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="./datamaps.world.min.js"></script>

  <div id="vue-root" style="padding: 10px">
    <div style="text-align:center;color:#17475C; margin-bottom:10px">
      <h1 class="title" style="color:#17475C;margin-bottom:15px">OVERVIEW</h1>
      <nav class="level is-mobile" style="max-width:800px; margin:auto; position: relative;">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Countries
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Countries where DWFI Faculty Fellows and researchers are advancing education and fostering future leaders in water management and food production. Includes research and policy, data development and educational exchange programs.</span>
            </p>
            <p class="title" v-if="overview.countries.length">{{overview.countries.length}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Programs
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Programs that DWFI is funding, managing and/or coordinating.</span>
            </p>
            <p class="title">{{overview.programs}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Projects
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Research, policy, or education projects that are impacting our mission. Includes work by DWFI directors, Faculty Fellows, the Nebraska Water Center, the Nebraska Water Sciences Laboratory, as well as associated staff and scholars. Projects managed by Faculty Fellows may not have direct funding or involvement from DWFI, but all support our shared mission and demonstrate the University of Nebraska’s capacity to improve water and food security.</span>
            </p>
            <p class="title">{{overview.projects}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Publications
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Resources that increase knowledge and improve practices for water management and food production. Includes journal articles, books/chapters, reports, theses and dissertations authored by DWFI directors, Faculty Fellows and Scholars.</span>
            </p>
            <p class="title">{{overview.publications}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Faculty
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">University of Nebraska Faculty Fellows affiliated with DWFI. Faculty Fellows support DWFI’s mission and vision. Their research, education, and outreach create global impacts in water and food security. </span>
            </p>
            <p class="title">{{overview.faculty}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Scholars
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Students and professionals who had significant educational and research experiences supported by DWFI. Includes undergraduate internships, graduate assistantships, postdoctoral fellowships, learning communities, study abroad programs for University of Nebraska students, and visiting scholars from around the world. Our network of skilled water and agricultural leaders.</span>
            </p>
            <p class="title">{{overview.scholars}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading tooltip">Grantors
              <i class="fas fa-question-circle"></i>
              <span class="tooltiptext">Organizations that have funded research and educational opportunities through DWFI directors, Faculty Fellows or researchers. Includes governments, international development organizations, industry partners, educational institutions, philanthropic foundations, and others. Primary financial support for DWFI and its programs comes from the Robert B. Daugherty Foundation.</span>
            </p>
            <p class="title">{{overview.grantors}}</p>
          </div>
        </div>
      </nav>
    </div>

    <div id="map-container" style="position: relative; margin-bottom: 10px; width: 100%; height: 100%;"></div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label" style="color:#17475C">Work</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="workCategory">
                <option>All</option>
                <option>Program</option>
                <option>Project</option>
                <option>Event</option>
                <option>Publication</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label" style="color:#17475C">Country</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="activeCountryName">
                <option v-for="c in countryOptions">{{c}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label" style="color:#17475C">Focus Area</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="focusArea">
                <option>All</option>
                <option>[FA1] Closing Water & Agricultural Productivity Gaps</option>
                <option>[FA2] Improving Groundwater Management for Agricultural Production</option>
                <option>[FA3] Enhancing High-productivity Irrigated Agriculture</option>
                <option>[FA4] Freshwater & Agriculture Ecosystems & Public Health</option>
                <option>[FA5] Management of Agricultural Drought</option>
                <option>Education & Engagement Projects & Programs</option>
                <option>Communications</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label" style="color:#17475C">Faculty</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="faculty">
                <option>All</option>
                <option v-for="f in allFaculty" v-bind:value="f.peopleId">{{f.firstName + ' ' + f.lastName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label" style="color:#17475C">Grant</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="grant">
                <option>All</option>
                <option v-for="g in allGrants" v-bind:value="g.id">{{g.organization}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="activeCount" class="is-size-6">There <span v-if="activeCount == 1">is</span><span v-if="activeCount > 1">are</span>
      <span v-if="activeCountryCount[0]"><span class="has-text-weight-bold">{{activeCountryCount[0]}}</span> program<span v-if="activeCountryCount[0]>1">s</span> </span>
      <span v-if="activeCountryCount[1]"><span class="has-text-weight-bold">{{activeCountryCount[1]}}</span> project<span v-if="activeCountryCount[1]>1">s</span> </span>
      <span v-if="activeCountryCount[2]"><span class="has-text-weight-bold">{{activeCountryCount[2]}}</span> event<span v-if="activeCountryCount[2]>1">s</span> </span>
      <span v-if="activeCountryCount[3]"><span class="has-text-weight-bold">{{activeCountryCount[3]}}</span> publication<span v-if="activeCountryCount[3]>1">s</span> </span>
      <span> related to <span class="has-text-weight-bold">{{activeCountryName}}</span></span>
    </div>
    <div v-else>
      <div v-if="activeCountryName == 'All'">
        Please select a country to see all our work there.
      </div>
      <div v-else>
        There is nothing applying the filters related to <span class="has-text-weight-bold">{{activeCountryName}}</span>
      </div>
    </div>

    <div id="projects-container" v-if="activeCountry">
      <div class="has-text-centered" v-if="loading">
        <span class="icon is-large fa-spin">
          <i class="fas fa-lg fa-spinner"></i>
        </span>
      </div>

      <div v-if="workCategory=='All' || workCategory=='Program'">
        <div v-for="program in activeCountry.programs" :key="'program-'+program.id"
          v-if="(focusArea=='All' || focusArea==program.focusArea) && (grant=='All' || program.grantIds.includes(grant)) && (faculty=='All' || program.peopleIds.includes(faculty))">
          <div class="card" style="margin-top: 15px;">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a v-if="program.website" :href="program.website">{{program.title}}</a><span v-if="!program.website">{{program.title}}</span></p>
                  <p class="subtitle is-6">
                    Program &nbsp; | &nbsp; {{program.country}} &nbsp; | &nbsp; {{program.startDate}} ~ {{program.endDate}} &nbsp; | &nbsp; {{program.status}}
                  </p>
                </div>
              </div>

              <div class="content">
                <p style="white-space:pre-line">{{program.description}}</p>
                <p>Focus Area: {{program.focusArea}}</p>
                <p v-if="program.grants.length">Grants: <span v-for="(g, i) in program.grants"><span v-if="i!=0">, </span>{{g.organization}}</span></p>
                <p v-if="program.people.length">People:
                  <span v-for="(p, i) in program.people">
                    <span v-if="i!=0">, </span>
                    <span v-if="p.website"><a :href="p.website">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else-if="p.email"><a :href="'mailto:' + p.email">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else>{{p.firstName + ' ' + p.lastName}}</span>
                    <span v-if="p.role"> ({{p.role}})</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="workCategory=='All' || workCategory=='Project'">
        <div v-for="project in activeCountry.projects" :key="'project-'+project.id"
          v-if="(focusArea=='All' || focusArea==project.focusArea) && (grant=='All' || project.grantIds.includes(grant)) && (faculty=='All' || project.peopleIds.includes(faculty))">
          <div class="card" style="margin-top: 15px;">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a v-if="project.website" :href="project.website">{{project.title}}</a><span v-if="!project.website">{{project.title}}</span></p>
                  <p class="subtitle is-6">
                    Project &nbsp; | &nbsp; {{project.country}} &nbsp; | &nbsp; {{project.startDate}} ~ {{project.endDate}} &nbsp; | &nbsp; {{project.status}}
                  </p>
                </div>
              </div>

              <div class="content">
                <p style="white-space:pre-line">{{project.description}}</p>
                <p>Focus Area: {{project.focusArea}}</p>
                <p v-if="project.programTitle">Program: {{project.programTitle}}</p>
                <p v-if="project.grants.length">Grants: <span v-for="(g, i) in project.grants"><span v-if="i!=0">, </span>{{g.organization}}</span></p>
                <p v-if="project.people.length">People:
                  <span v-for="(p, i) in project.people">
                    <span v-if="i!=0">, </span>
                    <span v-if="p.website"><a :href="p.website">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else-if="p.email"><a :href="'mailto:' + p.email">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else>{{p.firstName + ' ' + p.lastName}}</span>
                    <span v-if="p.role"> ({{p.role}})</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="workCategory=='All' || workCategory=='Event'">
        <div v-for="myEvent in activeCountry.events" :key="'my-event-'+myEvent.id"
          v-if="(focusArea=='All' || focusArea==myEvent.focusArea) && (grant=='All' || myEvent.grantIds.includes(grant)) && (faculty=='All' || myEvent.peopleIds.includes(faculty))">
          <div class="card" style="margin-top: 15px;">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a v-if="myEvent.website" :href="myEvent.website">{{myEvent.title}}</a><span v-if="!myEvent.website">{{myEvent.title}}</span></p>
                  <p class="subtitle is-6">
                    Event &nbsp; | &nbsp; <span v-if="myEvent.state">{{myEvent.state}},</span> {{myEvent.country}} &nbsp; | &nbsp; {{myEvent.startDate}} ~ {{myEvent.endDate}} &nbsp; | &nbsp; {{myEvent.status}}
                  </p>
                </div>
              </div>

              <div class="content">
                <p style="white-space:pre-line">{{myEvent.description}}</p>
                <p>Focus Area: {{myEvent.focusArea}}</p>
                <p v-if="myEvent.grants.length">Grants: <span v-for="(g, i) in myEvent.grants"><span v-if="i!=0">, </span>{{g.organization}}</span></p>
                <p v-if="myEvent.people.length">People:
                  <span v-for="(p, i) in myEvent.people">
                    <span v-if="i!=0">, </span>
                    <span v-if="p.website"><a :href="p.website">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else-if="p.email"><a :href="'mailto:' + p.email">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else>{{p.firstName + ' ' + p.lastName}}</span>
                    <span v-if="p.role"> ({{p.role}})</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="workCategory=='All' || workCategory=='Publication'">
        <div v-for="publication in activeCountry.publications" :key="'publication-'+publication.id"
          v-if="(focusArea=='All' || focusArea==publication.focusArea) && (grant=='All' || publication.grantIds.includes(grant)) && (faculty=='All' || publication.peopleIds.includes(faculty))">
          <div class="card" style="margin-top: 15px;">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a v-if="publication.url" :href="publication.url">{{publication.title}}</a><span v-if="!publication.url">{{publication.title}}</span></p>
                  <p class="subtitle is-6">
                    Publication &nbsp; | &nbsp; {{publication.country}}
                  </p>
                </div>
              </div>

              <div class="content">
                <p v-if="publication.people.length">Authors:
                  <span v-for="(p, i) in publication.people">
                    <span v-if="i!=0">, </span>
                    <span v-if="p.website"><a :href="p.website">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else-if="p.email"><a :href="'mailto:' + p.email">{{p.firstName + ' ' + p.lastName}}</a></span>
                    <span v-else>{{p.firstName + ' ' + p.lastName}}</span>
                  </span>
                </p>
                <p style="white-space:pre-line">Abstract: {{publication.abstract}}</p>
                <p>Focus Area: {{publication.focusArea}}</p>
                <p v-if="publication.grants.length">Grants: <span v-for="(g, i) in publication.grants"><span v-if="i!=0">, </span>{{g.organization}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <script>
  (function () {
    const SERVER = 'https://glodet.nebraska.edu:4000'
    const GREEN = '#23b39c'
    const GRAY = '#a7a9ac'
    var theMap = null

    new Vue({
      el: '#vue-root',
      data: {
        workCategory: 'All',
        focusArea: 'All',
        grant: 'All',
        faculty: 'All',
        allGrants: [],
        allPeople: [],
        allFaculty: [],
        countries: {},
        countryNames: [],
        activeCountryName: 'All',
        loadings: {program: false, project: false, event: false, publication: false},
        categories: [
          {name: 'program', label: 'Program', url: 'programs'},
          {name: 'project', label: 'Project', url: 'projects'},
          {name: 'event', label: 'Event', url: 'events'},
          {name: 'publication', label: 'Publication', url: 'publications'},
        ],
        overview: {
          countries: [],
          programs: null,
          projects: null,
          events: null,
          scholars: null,
          grantors: null,
          faculty: null,
          publications: null
        },
        countryOptions: ['All']
      },
      computed: {
        countryCounts () {
          var counts = {}
          var vm = this
          this.countryNames.forEach(function(c){
            counts[c] = vm.categories.map(function(category){
              var count = 0
              if(vm.workCategory == 'All' || vm.workCategory == category.label){
                count = vm.countries[c]['count' + category.label + 's'].filter(function(item){
                  if(vm.focusArea != 'All')
                    if(item.focusArea != vm.focusArea)
                      return false
                  if(vm.grant != 'All')
                    if(!item.grants.includes(vm.grant))
                      return false
                  if(vm.faculty != 'All')
                    if(!item.people.includes(vm.faculty))
                      return false
                  return true
                }).length
              }
              return count
            })
          })
          return counts
        },
        activeCountryCount () {
          return this.countryCounts[this.activeCountryName]
        },
        activeCount () {
          var count = 0
          if(this.activeCountryCount) {
            for(var i=0;i<this.activeCountryCount.length;i++){
              count += this.activeCountryCount[i]
            }
          }
          return count
        },
        loading () {
          for(var i=0;i<this.categories.length;i++)
            if(this.loadings[this.categories[i].name])
              return true
          return false
        },
        grantMap () {
          var map = {}
          this.allGrants.forEach(function(g){
            map[g.id] = g
          })
          return map
        },
        peopleMap () {
          var map = {}
          this.allPeople.forEach(function(p){
            map[p.id] = p
          })
          return map
        },
        activeCountry () {
          return this.countries[this.activeCountryName]
        }
      },
      watch: {
        countryCounts: function (val) {
          var colors = {}
          var vm = this

          this.countryNames.forEach(function(countryName){
            var country = vm.countries[countryName]
            var counts = val[countryName]
            if(counts[0] + counts[1] + counts[2] + counts[3] > 0){
              colors[country.id] = GREEN
            }else{
              colors[country.id] = GRAY
            }
          })
          theMap.updateChoropleth(colors)
        },
        activeCountryName: function (val) {
          this.showCountry()
        }
      },
      methods: {
        initMap () {
          var vm = this
          theMap = new Datamap({
            element: document.getElementById("map-container"),
            projection: 'mercator',
            fills: {
              defaultFill: GRAY,
            },
            responsive: true,
            geographyConfig: {
              popupTemplate: function(geography, data) {
                var countryName = geography.properties.name
                var counts = vm.countryCounts[countryName]
                var html = '<div class="hoverinfo">' + countryName
                if(counts)
                  for(var i=0;i<vm.categories.length;i++)
                    if(counts[i] > 0)
                      html += '<br/>' + vm.categories[i].label + 's: ' + counts[i]
                return html
              },
            },
            done: function(datamap) {
              var countries = {}
              datamap.svg.selectAll('.datamaps-subunit')[0].forEach(function(a){
                var g = a.__data__
                if(g.id != '-99'){
                  countries[g.properties.name] = {
                    id: g.id,
                    name: g.properties.name,
                    countPrograms: [],
                    countProjects: [],
                    countEvents: [],
                    countPublications: [],
                    programs: null,
                    projects: null,
                    events: null,
                    publications: null
                  }
                }
              })
              vm.countryNames = Object.keys(countries).sort()
              vm.countries = countries
              vm.requestOverview()
              vm.requestCountryCounts()
              datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                vm.activeCountryName = geography.properties.name
              })
            }
          })
        },
        requestOverview () {
          this.$http.get(SERVER + '/get_overview').then(response => {
            var resp = response.body
            this.overview.countries = resp[0]
            this.overview.programs = resp[1]
            this.overview.projects = resp[2]
            this.overview.events = resp[3]
            this.overview.scholars = resp[4]
            this.overview.grantors = resp[5]
            this.overview.faculty = resp[6]
            this.overview.publications = resp[7]
            this.countryOptions = resp[0].slice().sort()
            this.countryOptions.unshift('All')
          })
        },
        requestCountryCounts () {
          var vm = this
          vm.categories.forEach(function(category){
            vm.$http.get(SERVER + '/count_' + category.url + '_for_map').then(response => {
              response.body.forEach(function(i){
                i.country.split(', ').forEach(function(c){
                  if(vm.countries[c]){
                    vm.countries[c]['count' + category.label + 's'].push(i)
                  }
                })
              })
            })
          })
        },
        showCountry () {
          if(this.activeCountryName == 'All')
            return
          vm = this
          vm.categories.forEach(function(category){
            var country = vm.countries[vm.activeCountryName]
            if(country['count' + category.label + 's'].length == 0){
              country[category.name + 's'] = []
            }else if(country[category.name + 's'] == null){
              vm.loadings[category.name] = true
              var url = SERVER + '/get_' + category.url + '_for_map/' + encodeURIComponent(vm.activeCountryName)
              vm.$http.get(url).then(response => {
                var items = response.body
                if(items){
                  items.forEach(function(item){
                    item.people.forEach(function(p){
                      Object.assign(p, vm.peopleMap[p.peopleId])
                    })
                    var grantIds = []
                    item.grants.forEach(function(g){
                      Object.assign(g, vm.grantMap[g.grantId])
                      grantIds.push(g.grantId)
                    })
                    item.grantIds = grantIds
                    item.peopleIds = item.people.map(function(p){
                      return p.id
                    })
                  })
                }
                country[category.name + 's'] = items
                vm.loadings[category.name] = false
              }, response => {
                vm.loadings[category.name] = false
              })
            }
          })
        }
      },
      mounted () {
        var vm = this
        var promises = []
        promises.push(vm.$http.get(SERVER + '/get_grants').then(response => {
          vm.allGrants = response.body
          vm.allGrants.sort(function(a, b){
            if(a.comment && b.comment)
              return a.comment.localeCompare(b.comment)
            if(a.comment && !b.comment)
              return -1
            if(!a.comment && b.comment)
              return 1
            return a.organization.localeCompare(b.organization)
          })
        }))
        promises.push(vm.$http.get(SERVER + '/get_people').then(response => {
          vm.allPeople = response.body
        }))
        promises.push(vm.$http.get(SERVER + '/get_faculty').then(response => {
          vm.allFaculty = response.body
          vm.allFaculty.sort(function(a, b){
            var aFullName = a.firstName + ' ' + a.lastName
            var bFullName = b.firstName + ' ' + b.lastName
            return aFullName.localeCompare(bFullName)
          })
        }))
        Promise.all(promises).then((response) => {
          vm.initMap()
          vm.$nextTick(function(){
            window.addEventListener('resize', function() {
              theMap.resize()
            })
          })
        })
      }
    })
  }());
  </script>
</body>
